

<h1>Welcome User</h1>

<form>
  <label for="fname">Name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Address:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="fname">Email:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="birthday">Birthday:</label>
<input type="date" id="birthday" name="birthday"> <br> <br>
  <input type="submit" value="book" onclick="submituserdata()">
</form>


<script>
function submituserdata(){
    alert("Hurray!! Ticket booked")
}
</script>